/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-block__matrix-eisenhower {
  width: 100%;
}
.header-block__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header-block { text-align: center;
  }
}
.centered-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.centered-block__title-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.centered-block__add-task {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li, h3 {
  list-style: none;
}
input,button {
  outline: none;
}
.centered-block__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.centered-block__button:hover {
  color: #3a3a3a;
}
/* Heading */
.centered-block__heading-block {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.centered-block__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.centered-block__input-text:focus {
  color: #333;
}

/* New Task */
#titleAddBlock {
  margin: 0 0 20px;
}
#titleNewTask {
  width: 318px;
}

/* Task list */
.centered-block__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centered-block__task > * {
  vertical-align: middle;
}

.centered-block__task > .centered-block__input-checkbox {
  margin: 0 10px;
}
.centered-block__task > .centered-block__title-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.centered-block__task > .centered-block__input-text {
  width: 226px
}
.centered-block__button-img {
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}
.centered-block__button-img:hover {
  transform: rotatez(0);
}

/* Completed */
#completedTasks .centered-block__title-task {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.centered-block__task .centered-block__input-text {
  display: none
}

.centered-block__task_edit-mode .centered-block__input-text {
  display: inline-block;
  width: 224px
}

.centered-block__task_edit-mode .centered-block__title-task:first-of-type {
  display: none;
}